/*Superinfo*/

.superinfo-bg {
    background: #122ab2;
    color: white;
}

.superinfo {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p, .superinfo a{
    margin: 0 10px 10px 10px;
}

.superinfo a {
    color: white;
}
